@import '../fonts/transfonter/stylesheet.css';

@mixin mobile {
  @media only screen and (orientation: portrait), only screen and (max-height: 480px) {
    @content;
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
html {
    @include mobile {
        font-size: 14px;
    }
}

body {
    font-family: 'Josefin Sans';
    margin: 0;
    font-weight: 300;
    transition: all .25s;
}

.circle-svg-top {
    r: 0.5em;
    cx: 1em;
    cy: 1.1em;
    stroke: black;
    stroke-width: 1.5px;
    transition: stroke .025s;
}
.circle-svg-bottom {
    r: 0.5em;
    cx: 1em;
    cy: 1.1em;
    stroke: white;
    stroke-width: 1.5px;
    transition: stroke .025s;
}

.top-color {
    color: black;
    transition: color .025s;
}
.bottom-color {
    color: white;
    transition: color .025s;
}

.settings-arrow-right {
    transition: color .025s, opacity .25s;
    position: absolute;
    right: 0;
}
.settings-arrow-left {
    transition: color .025s, opacity .25s;
    position: absolute;
    left: 0;
}
.settings-arrow-active:hover {
    opacity: .75;
    cursor: pointer;
}
.settings-arrow-disabled {
    opacity: 0;
}
.settings-arrow-disabled:hover {
    cursor: default;
}

.info-section,
.work-section,
.contact-section,
.home-section,
.settings-section {
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
}

.lower.work {
    display: flex;
    flex-direction: column;
}
.upper.work {
    display: flex;
    width: 50%;
}

.work-section,
.contact-section {
    text-align: center;
}

.settings-header {
    color: inherit;
    z-index: 2;
    font-size: 2em;
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 15em;
    justify-content: center;
    position: relative;
    @include mobile {
        width: 10em;
    }
}

.on {
    border-bottom: 1px solid;
    border-color: inherit;
    margin-bottom: -1px !important;
}

.section-on {
    visibility: visible;
    opacity: 1;
}

.color-wrapper {
    display: flex;
    z-index: 2;
    @include mobile {
        flex-direction: column;
    }
}

.circle-picker {
    padding-left: 30px;
    padding-right: 30px;
}

.circle-picker-text {
    font-size: 1.17em;
    text-align: center;
    padding-bottom: .75em;
    padding-top: .75em;
    @include mobile {
        padding-bottom: .25em;
        padding-top: .25em;
    }
}

.circle-picker-circle {
    margin-left: .5em;
    height: 2.5em;
    width: 2.5em;
    padding-bottom: 1em;
    margin-bottom: -2em;
}

#bottomhalf {
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: black;
    transition: all .25s;
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
}

#canvas2 {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 100%;
}
.top-row-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
        margin-top: 12px;
    }
}
.bottom-row-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row {
    width: 800px;
    display: flex;
    justify-content: flex-start;
}
.row.top {
    width: 277px;
    align-items: center;
    justify-content: space-between;
    margin-right: -10px;
}
.row.bottom-color {
    justify-content: flex-end;
}
.btn {
    box-sizing: border-box;
    color: inherit;
}
.empty-top-col {
    width: 100px;
}
.settings-button {
    color: inherit;
    margin-right: 10px;
    font-weight: 300;
    width: 100px;
    display: flex;
    justify-content: flex-end;
    transition: color .025s, opacity .25s;
    @include mobile {
        
    }
}

.settings-button:hover {
    cursor: pointer;
    opacity: .75;
}
.hide-all-button {
    color: inherit;
    font-size: 32px;
    margin-left: 10px;
    transition: color .025s, opacity .25s;
}
.empty {
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide-all-button:hover {
    cursor: pointer;
    opacity: .75;
}

.top {
    top: 0;
    transition: all .25s;
}

.bottom {
    top: 50%;
    transition: all .25s;
}

.buttons {
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;
    padding: 0;
    width: 130px;
}

.buttons {
    color: inherit;
    a,
    span,
    h1 {
        transition: font-size .25s, opacity .25s;
    }
}
#first-name,
#last-name,
.settings-button,
.hide-all-button {
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}
#info-btn, #behance-btn {
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}
#work-btn, #linkedin-btn {
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}
#contact-btn, #github-btn {
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}

.tabs,
.links {
    font-weight: 300;
    span:hover,
    a:hover {
        opacity: .75 !important;
    }
    @include mobile {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
}

.tabs {
    a,
    span {
        color: inherit;
    }
    @include mobile {
        margin: auto;
    }
}

.links {
    a,
    span {
        color: inherit;
    }
}

.selection-area {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.top-settings {
    @extend .top-panel;
    align-items: center;
    color: inherit;
    .top-settings-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        transition: background-color .25s;
        opacity: .1;
        z-index: -1;
    }
}

.bottom-settings {
    @extend .top-panel;
    top: 50%;
    color: inherit;
    align-items: center;
    .bottom-settings-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        transition: background-color .25s;
        opacity: .1;
    }
}
.settings-overlay-left {
    margin-left: -2em;
    padding-left: 2em;
    border-radius: 4em 0em 0em 4em;
    @include mobile {
        border-radius: 4em;
        margin-left: -1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}
.settings-overlay-right {
    padding-right: 2em;
    border-radius: 0em 4em 4em 0em;
    @include mobile {
        border-radius: 4em;
        margin-left: -1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.top-panel {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-panel {
    @extend .top-panel;
    top: 50%;
    left: 0;
    color: inherit;
}

.panel {
    line-height: 1.5em;
    @include mobile {
        margin: auto;
        line-height: unset;
    }
}
.panel.work {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel.contact {
    display: flex;
    justify-content: space-between;
    width: 277px;
}
.panel.contact.upper {
    align-self: flex-end;
}
.panel.contact.lower {
    align-self: flex-start;
}
.top-panel > .panel.info {
    width: 277px;
}
.bottom-panel > .panel.info {
    width: 277px
}

.buttons {
    a,
    span {
        cursor: pointer;
        user-select: none;
        font-size: 1em;
        text-decoration: none;
    }    
}


.resume {
    color: inherit;
    font-size: 2.5em;
    transition: all .125s;
}

.resume:hover {
    opacity: .75;
}

.prism-blog {
    display: inline-block;
    color: inherit;
    font-weight: 400;
    margin-top: 2em;
    transition: opacity .25s;
}
.prism-blog:hover {
    opacity: .75;
}
.prism-splash {
    display: inline-block;
    color: inherit;
    font-weight: 400;
    font-size: .75em;
    margin-top: 1em;
    transition: opacity .25s;
}
.prism-splash:hover {
    opacity: .75;
}

.prism {
    font-weight: 300;
    text-decoration: none;
    font-size: 5em;
    .P {
        color: red;
    }
    .R {
        color: cyan;
    }
    .I {
        color: green;
    }
    .S {
        color: magenta;
    }
    .M {
        color: blue;
    }
}

.prism:hover {
    .P {
        color: blue;
    }
    .R {
        color: red;
    }
    .I {
        color: cyan;
    }
    .S {
        color: green;
    }
    .M {
        color: magenta;
    }
}

.letter {
    padding-left: 5px;
    padding-right: 5px;
    transition: all .25s;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h6 {
    font-size: .2em;
}

.picture {
    width: 25em;
    height: 15em;
    border-radius: 2em;
}

#slider {
    width: 25em;
    height: auto;
    overflow: hidden;
    transition: all .25s;
}

#slider:hover {
    opacity: .75;
}

#slider {
    #slides {
        display: block;
        width: 150em;
        height: auto;
        margin: 0;
        padding: 0;
    }
}

#slider {
    .slide {
        float: left;
        list-style-type: none;
        width: 25em;
        height: auto;
    }
}

.no-user-select {
    user-select: none;
}

#first-name {
    padding-left: 0;
    justify-self: flex-start;
    color: inherit;
}
#last-name {
    padding-right: 0;
}
#first-name,
#last-name,
{
    user-select: none;
    @include mobile {
        font-weight: 300;
    }
}
.info,
.contact,
.tabs,
.links {
    @include mobile {
        font-weight: 400;
    }
}
.wobc-logo {
    width: 100%;
    transition: opacity .25s;
}
.wobc-logo:hover {
    opacity: .75;
    cursor: pointer;
}
.work-dots {
    padding: 0;
    display: flex !important;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 18px;
}
.work-dots > li {
    border-radius: 1rem;
    width: 12px;
    height: 12px;
    margin: 0 1rem;
    background-color: black;
    transition: opacity .5s, height .5s, width .5s;
    opacity: .75;
}
.work-dots > .slick-active {
    width: 18px;
    height: 18px;
    opacity: 1;
}
.work-dots > li > button {
    opacity: 0;
}
.work-dots > li:hover {
    opacity: 1;
    cursor: pointer;
}
.work-dots > .slick-active:hover {
    opacity: 1;
    cursor: default;
}
.work-dots > li > button:hover {
    cursor: pointer;
}
.work-dots > .slick-active > button:hover {
    cursor: default;
}
.work-slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include mobile {
        margin-bottom: 1rem;
    }
}
.work-slider {
    width: 100%;
}
.custom-arrow {
    color: black;
    transition: color .25s;
    position: absolute;
    padding: 0;
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
}
.custom-arrow:before {
    font-size: 18px;
    @include mobile {
        font-size: 18px;
    }
}
.custom-arrow:hover {
    color: red;
}
.arrow-right {
    right: -35px;
}
.arrow-left {
    left: -40px;
    @include mobile {
        left: -27.5px;
    }
}
.work-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.slide {
    width: 50%;
    @include mobile {
        height: 50% !important;
    }
}
a {
    text-decoration: none;
}
.deborah {
    font-family: 'League Gothic';
    font-size: 48px;
    color: inherit;
    transition: .25s opacity;
    text-decoration: none;
}
.deborah:hover {
    opacity: .75;
}
.my-name {
    font-weight: 300;
    width: 100px;
    user-select: none;
    @include mobile {
        width: 250px;
    }
}
.my-name:hover {
    cursor: pointer;
}
.updated-on {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 300;
}
.prism-drawer {
    display: none;
}
.media-link {
    margin: 1em 0;
}
.empty-contact-col {
    width: 155px;
}
