@import '../fonts/apercu-mono/stylesheet.css';

@mixin mobile {
  @media only screen and (orientation: portrait), only screen and (max-height: 480px) {
    @content;
  }
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
:root {
    --top-circle-color: black;
    --bottom-circle-color: white;
    --not-so-random-color: red;

    --center-column-width: 367px;
}

.camcorder {
    font-family: 'camcorder_monospacedregular';
}
.avenir {
    font-family: 'Avenir LT Std';
}
.apercu {
    font-family: 'Apercu';
}
.work-sans {
    font-family: 'Work Sans';
}
.camcorder.work-subtext {
    font-size: 14px;
}
html {
    @include mobile {
        font-size: 14px;
    }
}

body {
    font-family: 'Apercu';
    margin: 0;
    font-weight: 300;
    transition: all .25s;
}

.circle-svg-top {
    r: 12px;
    cx: 13px;
    cy: 13px;
    stroke: black;
    stroke-width: 1.5px;
    transition: stroke .025s;
}
.circle-svg-bottom {
    r: 12px;
    cx: 13px;
    cy: 13px;
    stroke: white;
    stroke-width: 1.5px;
    transition: stroke .025s;
}

.top-color {
    color: black;
    transition: color .025s;
}
.bottom-color {
    color: white;
    transition: color .025s;
}

.settings-arrow-right {
    transition: color .025s, opacity .25s;
    position: absolute;
    right: 0;
}
.settings-arrow-left {
    transition: color .025s, opacity .25s;
    position: absolute;
    left: 0;
}
.settings-arrow-active:hover {
    opacity: .75;
    cursor: pointer;
}
.settings-arrow-disabled {
    opacity: 0;
}
.settings-arrow-disabled:hover {
    cursor: default;
}

.info-section,
.work-section,
.contact-section,
.home-section,
.settings-section {
    visibility: hidden;
    opacity: 0;
    transition: all .25s;
}

.lower.work {
    display: flex;
    flex-direction: column;
    margin-bottom: 25.5px;
}
.upper.work {
    display: flex;
    margin-top: 25.5px;
}

.work-section,
.contact-section {
    text-align: center;
}

.settings-header {
    color: inherit;
    z-index: 2;
    font-size: 2em;
    display: flex;
    margin: 0px;
    padding: 0px;
    width: 15em;
    justify-content: center;
    position: relative;
    @include mobile {
        width: 10em;
    }
}

.on {
    color: var(--top-circle-color) !important;
}

.section-on {
    visibility: visible;
    opacity: 1;
}

.color-wrapper {
    display: flex;
    z-index: 2;
    @include mobile {
        flex-direction: column;
    }
}

.circle-picker {
    padding-left: 30px;
    padding-right: 30px;
}

.circle-picker-text {
    font-size: 12px;
    text-align: center;
    padding-bottom: 16px;
    @include mobile {
        padding-bottom: .25em;
        padding-top: .25em;
    }
}

.circle-picker-circle {
    margin-left: .5em;
    height: 2.5em;
    width: 2.5em;
    padding-bottom: 1em;
    margin-bottom: -2em;
}

#bottomhalf {
    z-index: -1;
    position: absolute;
    height: 50%;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: black;
    transition: all .25s;
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    height: 50%;
    width: 100%;
}

#canvas2 {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 100%;
}
.top-row-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
        margin-top: 12px;
    }
}
.bottom-row-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row {
    width: 800px;
    display: flex;
    justify-content: flex-start;
}
.row.top {
    width: var(--center-column-width);
    align-items: center;
    justify-content: space-between;
    margin-right: -10px;
}
.row.bottom-color {
    justify-content: flex-end;
}
.btn {
    box-sizing: border-box;
    color: inherit;
}
.empty-top-col {
    width: 150px;
}
.settings-button {
    color: inherit;
    margin-right: 10px;
    font-weight: 300;
    width: 150px;
    display: flex;
    justify-content: flex-end;
    transition: color .025s;
    @include mobile {
        
    }
}

.settings-button:hover {
    cursor: pointer;
    color: var(--top-circle-color) !important;
}
.empty {
    width: 506px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    top: 0;
    transition: all .25s;
}

.bottom {
    top: 50%;
    transition: all .25s;
}

.buttons {
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;
    padding: 0;
    width: 180px;
}

.buttons {
    color: inherit;
    a,
    span,
    h1 {
        transition: font-size .25s, opacity .25s;
    }
}
#first-name,
#last-name,
.settings-button,
.hide-all-button,
.btn {
    -webkit-animation: fadein .5s;
    -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
    -o-animation: fadein .5s;
    animation: fadein .5s;
}

.tabs,
.links {
    font-weight: 300;
    span:hover,
    a:hover {
        opacity: .75 !important;
    }
    @include mobile {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
}

.tabs {
    a,
    span {
        color: inherit;
    }
    @include mobile {
        margin: auto;
    }
}

.links {
    a,
    span {
        color: inherit;
    }
}

.selection-area {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
}

.top-settings {
    @extend .top-panel;
    align-items: center;
    color: inherit;
    justify-content: space-around !important;
    .top-settings-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        transition: background-color .25s;
        opacity: .4;
        z-index: -1;
    }
}

.bottom-settings {
    @extend .top-panel;
    top: 50%;
    color: inherit;
    align-items: center;
    justify-content: space-around !important;
    .bottom-settings-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        transition: background-color .25s;
        opacity: .4;
    }
}
.settings-overlay-left {
    margin-left: -2em;
    padding-left: 2em;
    border-radius: 4em 0em 0em 4em;
    @include mobile {
        border-radius: 4em;
        margin-left: -1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}
.settings-overlay-right {
    padding-right: 2em;
    border-radius: 0em 4em 4em 0em;
    @include mobile {
        border-radius: 4em;
        margin-left: -1em;
        padding-left: 1em;
        padding-right: 1em;
    }
}

.top-panel {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-panel {
    @extend .top-panel;
    top: 50%;
    left: 0;
    color: inherit;
}
.panel-row {
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom-panel > .panel-row {
}
.top-panel > .panel-row {
}
.panel.info {
    line-height: 1.5em;
}
.panel {
    @include mobile {
        margin: auto;
        line-height: unset;
    }
}
.panel.work {
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel.contact {
    display: flex;
    justify-content: space-between;
    width: var(--center-column-width);
}
.panel.contact.upper {
    align-self: flex-end;
}
.panel.contact.lower {
    align-self: flex-start;
}
.top-panel > .panel.info {
    width: var(--center-column-width);
    align-self: flex-end;
    margin-bottom: 10px;
}
.bottom-panel > .panel.info {
    width: var(--center-column-width);
    align-self: flex-start;
    margin-top: 10px;
}

.buttons {
    a,
    span {
        cursor: pointer;
        user-select: none;
        font-size: 1em;
        text-decoration: none;
    }    
}

.prism {
    font-weight: 300;
    text-decoration: none;
    font-size: 5em;
    .P {
        color: red;
    }
    .R {
        color: cyan;
    }
    .I {
        color: green;
    }
    .S {
        color: magenta;
    }
    .M {
        color: blue;
    }
}

.prism:hover {
    .P {
        color: blue;
    }
    .R {
        color: red;
    }
    .I {
        color: cyan;
    }
    .S {
        color: green;
    }
    .M {
        color: magenta;
    }
}

.letter {
    padding-left: 5px;
    padding-right: 5px;
    transition: all .25s;
}

h1 {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h6 {
    font-size: .2em;
}

.no-user-select {
    user-select: none;
}

.info,
.contact,
.tabs,
.links {
    @include mobile {
        font-weight: 400;
    }
}
.wobc-logo {
    width: 100%;
    transition: transform .25s;
    border-radius: 5px;
}
.wobc-logo:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
.work-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include mobile {
        height: 50% !important;
    }
}
.work-subtext {
    margin-top: 10px;
    font-size: 12px;
}
a {
    text-decoration: none;
}
.deborah {
    font-family: 'Work Sans';
    font-size: 100px;
    color: inherit;
    transition: .25s opacity;
    text-decoration: none;
}
.deborah:hover {
    opacity: .75;
}
.my-name {
    font-weight: 300;
    width: 100px;
    user-select: none;
    transition: color .25s;
    @include mobile {
        width: 250px;
    }
}
.my-name:hover {
    cursor: pointer;
    color: var(--not-so-random-color) !important;
}
.updated-on {
    color: var(--bottom-circle-color) !important;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-weight: 300;
}
.prism-drawer {
    display: none;
}
.media-link {
    margin: 1em 0;
}
.upper > .media-link:hover {
    color: var(--top-circle-color);
}
.lower > .media-link:hover {
    color: var(--bottom-circle-color);
}
.empty-contact-col {
    width: 155px;
}
